<div class="spinner-border" *ngIf="!messageCorona && showedQuestions.length === 0"></div>
<div class="card mt-3 mx-auto corona-form" *ngIf="!messageCorona && showedQuestions.length > 0">
    <div *ngFor="let question of showedQuestions; let i = index" class="corona-question">
        <div class="p-2 question ">{{question.text}}</div>
            <div class="row mt-5">
                <button *ngFor="let suggestion of question.responseDTOS"
                        (click)="calculateScore(suggestion.score, question.score); next();"
                        class="btn suggestions-button col-sm-2">
                    {{suggestion.text}}
                </button>
            </div>
    </div>
</div>
<div class="card container corona-tips mt-3" *ngIf="messageCorona">{{messageCorona}}</div>
<div class="card container corona-tips mt-3">
        <span>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
            vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
        </span>
</div>
<a class="card container corona-tips mt-3" style="background-color: #00a99d" *ngIf="messageCorona" [routerLink]="'/contacter-un-médecin'">Contacter un médecin</a>

