.card-header {
  border-top-left-radius: 2rem 2rem;
  border-top-right-radius: 2rem 2rem;
  text-align: right;
  color: white;
  background-color: #297670;
}

.corona-tips {
  color: white;
  background-color: #dc3a58;
  border-radius: 0.7rem;
  width: 35vw;
  text-decoration: none;
}

.corona-form {
  color: #297670;
  border: 2px solid #297670;
  border-radius: 2rem;
  width: 45vw;
}

.corona-form[_ngcontent-qws-c2] {
  color: #000000 !important;
}

.corona-form[_ngcontent-oru-c2] {
  border: 2px solid #cecece !important;
  border-radius: 1rem !important;
}

.corona-question {
  text-align: right;
}

.suggestions-button {
  font-size: 1.875rem;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1.625rem;
  background-color: #d39e00;
  color: white;
  min-width: 7.625rem;
  min-height: 2.875rem;
}

.question {
  text-align: center;
  font-size: 1.875rem;
  color: #2b2b2b;
  font-weight: bold;
}

/* Mobile styles */
@media only screen and (max-width: 768px) {
  .corona-form, .corona-tips, .row {
    width: 100%;
  }
}