@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css?family=Changa|El+Messiri&display=swap');

html {
  width: 100vw;
  body {
    font-family: 'Changa', sans-serif !important;
    /* background-image: url("assets/images/flag.jpg"); */
    background-size: 100%;
    .app-header {
      background-color: #00a99d;
      color: white;
      .logo-corona {
        height: 4rem;
      }
    }
    .link-button {
      text-decoration: none;
      text-align: center;
      color: #00a99d;
      border: 3px solid grey;
      font-weight: bold;
      border-radius: 1rem;
      margin-right: auto !important;
      margin-left: auto !important;
      max-width: 12.5rem;
      font-size: 1.25rem;
    }
    .card {
      max-width: 93% !important;
    }
    .row{
      margin-right: 0 !important;
      margin-left: 0 !important;
    }
  }
}


